<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>

<body>
    <div class="navtop">
        <div class="container">
            <nav class="navleft pull-left">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
            </nav>
            <nav class="navright pull-right">
                <ul>
                    <li><a href="tel:6285226237258"><i class="fa fa-phone"></i> +62 852 2623 7258</a></li>
                    <li><a href="mailto:info@idbytech.com"><i class="fa fa-envelope"></i> info@idbytech.com</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="navhead">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </nav>
            <nav class="pull-right">
                <ul>
                    <li><a href="tel:6285226237258"><i class="fa fa-phone"></i> +62 852 2623 7258</a></li>
                    <li><a href="mailto:info@idbytech.com"><i class="fa fa-envelope"></i> info@idbytech.com</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.js"></script>
</body>

</html>